*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: 500px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    justify-content: center;
    min-width: 325px;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button{
    border: none;
    background-color: lightseagreen;
    font-size: 25px;
    padding: 16px;
    margin-left: 10px;
}
button:hover{
    cursor: pointer;
    background-color: #333333;
    transition: 0.5s all ease-in-out;
}
input{
    border: none;
    background-color: #eaeaea;
    color: #222222;
    font-size: 24px;
    padding: 16px;
    margin-top: 10px;

}
#pertanyaan{
    font-size: 1.3em;
    font-weight: 400;
}
#loaders{
    display: none;
    width: 85px;
    height: 85px;
    position: absolute;
    border-top: 15px solid aqua;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 9;
    animation: 1s spin infinite linear;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}